# Tracking software CONFIGURATION FILE
# Author: Derek Gloudemas; Vanderbilt University
# Date: 12/7/2020
# -----------------------------------------------------


__DEFAULT__
detector_parameters==/home/worklab/Documents/derek/I24-video-processing/config/i24_retinanet_detector_state_dict_4k_epoch69.pt
localizer_parameters==/home/worklab/Documents/derek/I24-video-processing/config/i24_retinanet_localizer_state_dict_epoch187.pt
num_classes==9
kf_parameter_path==/home/worklab/Documents/derek/I24-video-processing/config/filter_params_tuned_i24.cpkl
class_dict_path==/home/worklab/Documents/derek/I24-video-processing/config/class_dict_i24.cpkl
det_step==1
skip_step== 1
init_frames==1
fsld_max==5
localize==True
matching_cutoff==300
box_expansion_ratio==2.4                 
iou_cutoff==0.5
det_conf_cutoff==0.5
show_tracking==True
output_video_path==True
checksum_path==/home/worklab/Documents/derek/I24-video-processing/I24-video-ingest/resources/timestamp_pixel_checksum_6.pkl
geom_path==/home/worklab/Documents/derek/I24-video-processing/I24-video-ingest/resources/timestamp_geometry_4K.pkl
transform_path==/home/worklab/Documents/derek/I24-video-processing/config/camera_calibration_points_I24_validation_system.csv


    
__P1C0test__
detector_parameters==/home/worklab/Documents/derek/I24-video-processing/config/i24_retinanet_detector_state_dict_4k_epoch69.pt
localizer_parameters==/home/worklab/Documents/derek/I24-video-processing/config/i24_retinanet_localizer_state_dict_epoch187.pt
num_classes==9
kf_parameter_path==/home/worklab/Documents/derek/I24-video-processing/config/filter_params_tuned_i24.cpkl
class_dict_path==/home/worklab/Documents/derek/I24-video-processing/config/class_dict_i24.cpkl
det_step==10
skip_step==10
init_frames==1
fsld_max==10
localize==True
matching_cutoff==200
box_expansion_ratio==2.4                 
iou_cutoff==0.5
det_conf_cutoff==0.5
show_tracking==False
output_video_path==None
checksum_path==/home/worklab/Documents/derek/I24-video-processing/I24-video-ingest/resources/timestamp_pixel_checksum_6.pkl
geom_path==/home/worklab/Documents/derek/I24-video-processing/I24-video-ingest/resources/timestamp_geometry_4K.pkl
transform_path==/home/worklab/Documents/derek/I24-video-processing/config/camera_calibration_points_I24_validation_system.csv